#time {
    float: right;
}

#wrapper {
   font-family: "Dongle", Arial, Helvetica, sans-serif;
   font-size: 30px;
   position: absolute;
   left: 35%;
   top: 15%;
   width: 400px;
   height: 500px;
   color: rgb(94, 2, 94); 
}
li {
    font-family: "Dongle", Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: pink;
    margin-top: 10px;
    padding: 10px 10px;
    width: 70%;
}
h1 {
    font-family: "Dongle", Arial, Helvetica, sans-serif;
    font-size: 50px;
}
a {
    font-family: "Dongle", Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#time {
    font-family: "Dongle", Arial, Helvetica, sans-serif;
    font-size: 25px;
}